body {
	background-color: black;
	color: whitesmoke;
}

.logo {
	padding-left: 20px;
}

.term-form {
	margin: auto !important;
	width: 87%;
}

.term-input {
	border-radius: 50px !important;
}

.clear-input-label {
	border-radius: 0px 50px 50px 0px !important;
}

.search-home {
	margin-top: 55px;
}

.track-item:hover {
	background-color: black !important;
}

.with-results {
	padding-top: 20px;
}

.home-title {
	font-size: clamp(3rem, 11vw, 5.9rem);
}

@media only screen and (min-width: 992px) {
	.logo {
		padding-left: 50px;
	}

	.term-form {
		width: 45% !important;
	}

	.results-header {
		font-size: 28px;
	}

	.description {
		font-size: 15px;
	}

	.track-name {
		font-size: 18px;
	}

	.truncated {
		max-width: 700px;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
	.logo {
		padding-left: 50px;
	}

	.term-form {
		width: 60% !important;
	}

	.term-input,
	.search-icon {
		font-size: 18px !important;
	}

	.truncated {
		max-width: 430px;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media only screen and (min-width: 420px) and (max-width: 600px) {
	.truncated {
		max-width: 250px;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.term-input,
	.search-icon {
		font-size: 16px !important;
	}

	.term-form {
		width: 80% !important;
	}
}

@media only screen and (max-width: 419px) {
	.term-input,
	.search-icon {
		font-size: 14px !important;
	}

	.term-input {
		line-height: 20px !important;
	}

	.results-header {
		font-size: 20px;
	}

	.songs-header {
		font-size: 19px !important;
	}

	.see-btn {
		font-size: 13px !important;
	}

	.truncated,
	.track-artist {
		max-width: 190px;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media only screen and (max-width: 358px) {
	.truncated,
	.track-artist {
		max-width: 160px;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.track-name {
		font-size: 13px;
	}

	.term-input,
	.search-icon {
		font-size: 13px !important;
	}

	.term-input {
		line-height: 20px !important;
	}

	.results-header {
		font-size: 18px;
	}

	.songs-header,
	.artist-header,
	.album-header {
		font-size: 17px !important;
	}

	.see-btn,
	.duration {
		font-size: 12px !important;
	}

	.description {
		font-size: 13px;
	}
}
